.people,
.museum,
.gallery__wrapper {
  max-width: var(--max-width);
  width: 100%;
  padding: 60px 50px;
  display: grid;
  gap: 40px;
}

.gallery__wrapper h1 {
  font-size: 60px;
}

.gallery__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.gallery__wrapper h4 {
  text-align: center;
}

.visitors {
  background-color: var(--yellow);
}

.visitors__img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.comments__items {
  display: grid;
  gap: 40px;
}

.comments__item {
  display: flex;
  gap: 40px;
}

.avatar__item {
  display: grid;
  place-items: center;
}
.avatar__item p {
  font-size: 16px;
}

.allImg {
  width: 80%;
  margin: auto;
}

.museum-sect,
.comments,
.visitors,
.gallery-main {
  display: grid;
  place-items: center;
}

.arthome {
  background-color: var(--yellow);
  display: grid;
  place-items: center;
}

.arthome__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.home {
  display: grid;
  gap: 40px;
}

.buyer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px 0;
  gap: 40px;
}

.museum-sect h4,
.buyer h2 {
  padding: 0px;
}

.museum-sect h4 {
  padding-bottom: 40px;
}
.museum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.museum__imgs {
  display: grid;
  gap: 20px;
}

.people img {
  width: 80%;
}
