@keyframes bluerAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bluerAnimClouse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes openMenu {
  0% {
    transform: translate(0, -200px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes cluseMenu {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -200px);
    opacity: 0;
  }
}

.header {
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 99;
  width: 100%;
  transition: 200ms;
}

.header__wrapper {
  max-width: var(--max-width);
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bluer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.461);
  backdrop-filter: blur(2px);
  display: none;
  animation-name: bluerAnim;
  animation-duration: 500ms;
  transition-timing-function: ease-in;
}

.header__bluer--active {
  display: block;
}

.header__bluer--clouse {
  animation-name: bluerAnimClouse;
  animation-duration: 400ms;
  transition-timing-function: ease-out;
}

.header__button {
  display: none;
}

.header-nav-items {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.header-nav__link {
  color: black;
  text-transform: uppercase;
  transition: 100ms;
}

.header-nav__link:hover {
  color: rgb(123, 123, 0);
}

.header-logo__link {
  display: grid;
  grid-template-columns: 50px max-content;
  gap: 10px;
}

.logo__text {
  color: black;
  font-size: 30px;
}

.header--theme {
  background-color: rgb(0, 0, 0);
  transition: 200ms;
}

.header-nav__link--theme {
  color: white;
  transition: 200ms;
}

.logo__text--thema {
  color: white;
  transition: 200ms;
}

.logo__rect {
  fill: black;
}

.logo__rect--theme {
  fill: rgb(84, 84, 84);
  transition: 200ms;
}

.svg {
  max-width: 50px;
}

@media only screen and (max-width: 850px) {
  .header-nav {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.765);
    padding: 40px;
    width: 100%;
    height: 300px;
    z-index: 99;
  }
  .header-nav a {
    padding-top: 0;
    color: white;
  }
  .header-nav--active {
    display: block;
    animation-name: openMenu;
    animation-duration: 300ms;
    transition-timing-function: ease-in;
  }

  .header-nav--clouse {
    animation-name: cluseMenu;
    animation-duration: 400ms;
    transition-timing-function: ease-out;
  }
  .header__button {
    display: block;
  }
  .header-nav-items {
    display: flex;
    flex-direction: column;
  }

  .svg {
    display: none;
  }
}
