@keyframes bluerAnim {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(500px, 0);
    opacity: 0;
  }
}

@keyframes bluerAnimClouse {
  0% {
    transform: translate(500px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.artists__wrapper,
.form__wrapper,
.art__wrapper,
.footer__wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 100px 50px;
}

.artists {
  border-bottom: black 20px dashed;
  border-top: var(--yellow) 20px dashed;
}

.artists-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.block_stiky {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  margin: auto;
}

.main {
  min-height: 400px;
  background-color: var(--yellow);
  padding: 50px 0 100px 0;
}

.main__wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 50px;
  position: relative;
  display: grid;
}

.main__wrapper h1 {
  font-size: 55px;
}

.main__wrapper img {
  width: 50%;
}

.main-content {
  display: grid;
  gap: 50px;
}

.main-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.main-img img {
  width: 100%;
}

.main-img p {
  font-size: 18px;
}

.main-img__text {
  display: grid;
  gap: 10px;
}

.aside {
  top: 70px;
  position: -webkit-sticky;
  position: sticky;
  width: 500px;
  background-color: black;
  justify-self: end;
  padding: 0 50px;
}

.aside h2 {
  color: white;
  padding-top: 0px;
  font-size: 25px;
  padding: 30px 0;
  background-color: black;
  z-index: 22;
}
.aside-items {
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 400px;
  padding-bottom: 300px;
}
.aside-items__item {
  position: relative;
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  background-image: url("../../img/bgcaard.svg");
  background-repeat: no-repeat;
  width: 100%;
}

.aside-items__item img {
  width: 100px;
  transition: 0.3s;
  z-index: 1;
}

.aside-items__item img:hover {
  width: 200px;
  position: absolute;
  z-index: 2;
  cursor: zoom-in;
}

.aside-items {
  display: grid;
  gap: 40px;
}

.aside-items__item time {
  color: rgb(180, 180, 180);
  font-size: 14px;
}

.aside-items__item h3 {
  color: white;
  padding: 0;
  font-size: 13px;
}

.home-art--theme {
  background: white;
}

.home-art__wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 50px;
  position: relative;
  display: grid;
}

.artists {
  display: grid;
  place-items: center;
}

.artists-items__item {
  position: relative;
  overflow: hidden;
}
.artists-items__content {
  position: absolute;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.68);
  height: 100%;
  width: 90%;
  padding: 10px;
  transition: 300ms;
  border-bottom: 10px solid var(--yellow);
}

.artists-items__content--active {
  transform: translate(-90%, 0px);
}

.artists-items__content h4 {
  padding: 0;
  color: var(--yellow);
}

.artists-items__content p {
  color: white;
}

.art__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.art__wrapper h4 {
  padding: 0;
}

.form-main {
  background-color: var(--yellow);
}

.form__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

input,
textarea {
  border: none;
  padding: 10px;
  font-family: 18px;
}

.form {
  display: grid;
  grid-template-areas:
    "name email"
    "comment comment"
    "chekbox ."
    "button .";
  gap: 10px;
}

input[name="email"] {
  grid-area: email;
  height: 70px;
}

input[name="Name"] {
  grid-area: name;
  height: 70px;
}

.form textarea {
  grid-area: comment;
  resize: vertical;
}

.chekbox {
  grid-area: chekbox;
}

.links__toScroll {
  height: 70px;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  transition: 200ms;
  border: 3px solid black;
  cursor: pointer;
  max-width: 250px;
  display: grid;
  place-items: center;
}

.form_button {
  grid-area: button;
  height: 70px;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  transition: 200ms;
  border: 3px solid black;
  cursor: pointer;
}

.artists__wrapper h2 {
  padding: 0;
}

.artists__wrapper,
.art-content,
.home-art__wrapper {
  display: grid;
  gap: 20px;
}

.links__toScroll:hover,
.form_button:hover {
  color: black;
  background-color: transparent;
  border: 3px solid black;
}

.footer {
  background: black;
}

.form__title {
  font-size: 130px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer p,
.footer a,
.footer h5 {
  color: rgb(134, 134, 134);
  transition: 200ms;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}

.footer--theme,
.footer--theme p,
.footer--theme a,
.footer--theme h5 {
  color: white;
  transition: 200ms;
}
.footer h5 {
  padding-bottom: 10px;
  font-size: 20px;
}

.privases {
  display: flex;
  flex-direction: column;
}

.footer a:hover {
  color: rgba(255, 255, 0, 0.758);
}

@media only screen and (max-width: 1400px) {
  .artists-items__content p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1250px) {
  .form__title {
    font-size: 60px;
  }
  .artists-items__content h4 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 950px) {
  .footer__wrapper,
  .form__wrapper,
  .art__wrapper,
  .artists-items,
  .main-img {
    grid-template-columns: 1fr;
  }
  .artists-items__content p {
    font-size: 26px;
  }
}

@media only screen and (max-width: 750px) {
  .block_stiky {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aside {
    display: block;
    width: 100%;
  }
  .form {
    grid-template-areas:
      "name"
      "email"
      "comment"
      "chekbox"
      "button";
  }
  .artists-items__content p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 417px) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }

  p {
    font-size: 16px;
  }
  .artists-items__content p {
    display: none;
  }
}
